.nav-item a.active{
    background-color: rgb(0, 110, 255)!important;
    color: #fff;
}

.collapse-menu ul li a{
    text-decoration: none;
}

.main-page main{
    margin-top: 59px;
}

@media  (max-width:600px) {
    .main-page main{
        margin-top: 96px;
    }
     
}